<%- include ('../../partials/header.ejs') %>
    <body>
        <%- include ('../../partials/navbar.ejs') %>
        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Cadastro de categoria</h2>
                </div>
                <div class="card-body">
                    <form action="/categories/save" method="POST">
                        <input name="title" type="text" placeholder="Defina o título da categoria" class="form-control"><br>
                        <button class="btn btn-primary">Criar</button>
                    </form>
                </div>
            </div>

        </div>
    </body>
<%- include ('../../partials/footer.ejs') %> 