<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#46483d;">
    <!--Meu Logo-->
    <a href="/">
        <img src="/image/Logo.png" alt="">
    </a>

    <!--Menu-->
    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="/" style="color: white;"> Home </a>
        </li>

        <% categories.forEach(category => { %>
            <li class="nav-item">
                <a class="nav-link" href="/" style="color: white;"> <%= category.title %> </a>
            </li>
        <% }) %>
    </ul>
    
</nav>