<%- include ('./partials/header.ejs') %>
    <body style="color: white;">
        <%- include ('./partials/navbar.ejs') %>    
        <h3>Você está na página principal</h3>
    </body>
<%- include ('./partials/footer.ejs') %>     
    