body{
    min-height: 100vh;
    /*
    #90c53f VERDE
    #46483d CINZA
    #ffffff BRANCO
    */
    /*background: linear-gradient(180deg, #7343F2 0%, #BD88F2 100%);
    background: linear-gradient(180deg, #050b21 0%, #BD88F2 100%);
    background: linear-gradient(180deg, #90c53f 92%, #ffffff 50%);
    */
    background-color: #90c53f;
    
}

a{
    text-decoration: none;
}


.texto{
    font: bold 20px;
}

.botao{
    background: white;
    color: black;
    border: none;
}
